.taskcontainer {
    border: 1px solid black;
    box-shadow: 1px 2px 1px black;
    padding: 1rem;
    margin: 1rem auto;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.taskcontainer--active {
    border: 1px solid black;
    box-shadow: 1px 2px 1px black;
    padding: 1rem;
    margin: 1rem auto;
    background-color: green;
    display: grid;
    grid-template-columns: 2fr 1fr;
} 


.taskcontainer-content--left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    border: 1px solid black;
    border-right: none;
    padding-left: 1rem;
    background-color: white
}

.taskcontainer-content--right {
    display: grid;
    grid-template-areas: 
    "place person"
    "date dropdown";
    align-items: center;
    gap: 0 0.5rem;
    padding: 0.5rem;
    border: 1px solid black;
    background-color: white;
}
