nav {
    border-top: 3px solid black;
    margin-top: 120px;
    height: 60px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.navmenu {
    background-color: var(--background-secondary);
    display: flex;
    align-items: center;
}

.navitem {
    display: flex;
    height: 50%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.navitem > a {
    padding:0;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
}

.navitem--container {
    position: absolute;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background-color: white;
    border: 2px solid var(--text-primary);
    z-index: 100;
    bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.navitem--text {
    padding: 0;
    margin: 0;
    font-size: 3rem;
    cursor: pointer;
}