nav {
    border-bottom: 1px solid black;
}
.navmenu {
    background-color: lightgrey;
}

.navmenu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.navitem {
    display: inline-block;
    margin: 10px;
    background-color: white;

}